/*This css style will prevent skype from formatting the numbers in web-page*/
span.skype_pnh_container {display:none !important;}
span.skype_pnh_print_container, span[class^="skype_pnh_print_container"] {display:inline !important;} 

a[href^=tel]{color:#fff; text-decoration:none; font-size:20px;}
a[href^=tel]:hover{color:#fff; text-decoration:none; max-width:!important }
.ul-notes
{
    font-size:0.85rem !important;
}
.pad-left { padding-left:0px; }
.pad-right { padding-right:0px; }

.logo { margin:0px; padding:0px; }
.call-sec { width: 300px;
float: right;
margin: 0px;
background: none repeat scroll 0% 0% #2B8ACA;
text-align: center;
padding: 15px 0px;
font-size: 20px;
color: #FFF;
font-weight: 300;
font-family: "Lato",sans-serif;
position: fixed;
right:20%;
z-index: 10;
top: 0; }

.menu-sec { position: fixed; left:19.6%; width:218px; z-index: 10; }

.wrapper { position: relative; margin:15% auto 8%; padding:4%; width:auto; background: #fff; z-index: 1; min-height:600px; word-wrap: break-word; }
footer { position:absolute; bottom:0;  }

.foot-sec { position:fixed; bottom:0; }
.foot-inner { position:relative; bottom:0; }
.foot-text {  width:580px; background:#f8f2f4; margin-left:15px; padding:10px; font-size:15px; color:#333; font-weight:300; font-family: 'Lato', sans-serif;}
.foot-text a { color:#333; text-decoration:none; }
.foot-text a:hover { color:#2b8aca; text-decoration:none; }
.foot-text1 {  background:#f8f2f4; padding:10px; font-size:14px; color:#333; font-weight:300; font-family: 'Lato', sans-serif;}
.foot-text1 a { color:#333; text-decoration:none; }
.foot-text1 a:hover { color:#2b8aca; text-decoration:none; }

.img-sec { margin:0px; padding:0px; }
.img-sec ul { margin:0px; padding:10px 0; }
.img-sec ul li { list-style:none; margin:0px 9px 15px; float:left; }
.img-sec ul li p { margin:0px; padding:5px 0 0; font-size:11px; color:#000; font-weight:300; font-family: 'Lato', sans-serif;  }

.divider { width:auto; height:1px; background:#2b8aca; margin:15px 0; }

.top-nav { margin:0px; padding:0px; }
.top-nav ul { margin:0px; padding:0px; }
.top-nav ul li { list-style:none; display:inline; margin:0 2px 10px; float:left; }
.top-nav ul li a { background:#333; border-radius:3px; padding:8px 10px; color:#fff; text-decoration:none; font-size:12px; font-weight:300; font-family: 'Lato', sans-serif; }

.form-sec { width:auto; padding:0px 0px 20px; }

.thumb {
    margin-right: 16px;
    width:120px;
    text-align: center; font-size:13px;
}
.box {
    float: left;
    min-height: 20px;
    background-color: #FFF;
    border: 2px solid #E6E6E6;
    padding: 5px;
    margin-bottom: 20px;
}
.calculate { width:120px; height:31px; margin:0px; float:left; background:url(../images/blind-btn.jpg) no-repeat; border:none; cursor:pointer; }
.calculate:hover { background:url(../images/blind-1.jpg) no-repeat; }

.add-btn { width:99px; height:31px; margin:0 0 15px 10px; float:left; background:url(../images/calculate-btn.jpg) no-repeat; border:none; cursor:pointer; }
.add-btn:hover { background:url(../images/calculate-1.jpg) no-repeat; }
.col-blue { color:#288bcc; font-size:16px; }
.blue-col { color:#288bcc; }
.img-left { float:left; margin:0 20px 0 0; }
.img-right { float:right; margin:0 0px 0 20px; }

.blue-head { width:auto; padding:10px; background:#1283C9; font-size:22px; text-align:center; font-weight:600; line-height:30px; color:#fff; }

.social-sec { width:auto; margin:0px; padding:0px; }
.social-sec ul { margin:0px; padding:0px; }
.social-sec ul li { float:left; margin:0 8px 0 0; padding:0px; list-style:none; }

#calculate  { display:none; }

@media only screen and (max-width:1024px) {	
.backslider .bs-slides {
    width: auto !important;
}
.backslider .bs-slides img,
.backslider .bs-slides .bs-landscape {
	width: 100% !important;
	height: 100% !important;
}
.backslider .bs-slides img,
.backslider .bs-slides .bs-portrait {
	width: 100% !important;
height:100% !important;
}
.pad-left { padding-left:16px; }
.pad-right { padding-right:16px; }
 .call-sec {right: 10%;}	
}
@media only screen and (max-width:768px) {
.menu-sec {
   position: inherit;
   left: 0;
width: auto;
}	
.call-sec { right:11.5%; }
.img-sec ul li {
    list-style: outside none none;
    margin: 0px auto 15px;
    float: none;
    text-align: center;
}
button, .button
{
font-size:12px;
}
}
@media only screen and (max-width:640px) {
	.left-pad { padding-left:30px; padding-right:30px; }
	.pad-left { padding-left:0px;}
.pad-right { padding-right:0px; }	
.logo {
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
}
.foot-sec {
    bottom: 0px;
    position: relative; margin-top: 25px;
}
.foot-text {
    margin-left: 0px; width:100%;
}


.img-sec ul li {
    list-style: outside none none;
    float: none;
    width: 100%;
    margin: 0px auto 20px;
    text-align: center;
}
.call-sec {
    position: inherit;
    right: 0px !important;
    left: 0px !important;
    margin: 0 auto;
    width: 100%;
}
.wrapper {margin: 5% auto 8%;}
.img-left { float:none; margin:20px auto; text-align:center; }
.img-right { float:none; margin:20px auto; text-align:center; }
}

@media only screen and (max-width:320px) {

}
