<div class="row">
<div class="col-lg-6 col-md-6">
    <form>
        <!-- <fieldset>Order Type</fieldset> -->
        <div class="form-group">
                <label for="order">Return Required</label>
                <select   name="order" (change)="orderChange()" [(ngModel)]="newOrder.IsNew" class="form-control" id="order">
                  <option value="true">New Order</option>
                  <option value="false">Remake Order</option>
                </select>
              </div>
              <div *ngIf="IsRemake">
                    <div class="form-group">
                            <label for="originalOrder">Original order number</label>
                            <input type="text" class="form-control" [(ngModel)]="newOrder.OldOrderNumber" name="originalOrder" id="originalOrder" placeholder="Original Order">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                          </div>
                          <div class="form-group">
                                <label for="fault">Whose Fault</label>
                                <select   name="fault" [(ngModel)]="newOrder.Fault" class="form-control" id="fault">
                                  <option>Factory</option>
                                  <option>Customer</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label for="evidence">Do you have photo evidence ready ?</label>
                                    <select   name="evidence" [(ngModel)]="newOrder.Evidence" class="form-control" id="evidence">
                                      <option value="true">Yes</option>
                                      <option value="false">No</option>
                                    </select>
                                  </div>
              </div>
    </form>
</div>
<div class="col-lg-6 col-md-6">
    <form>
      <div *ngIf="OrderTypeVal=='3'" class="form-group">
          <label for="blind">Blind Type</label>
          <select class="form-control" name="blind" (change)="onBlindTypeChange()" [(ngModel)]="newOrder.BlindTypeID" id="blind">
              <option selected value="0">Select Blind Type</option>
          <option  *ngFor="let item of blindTypes" value="{{item.BlindTypeID}}">{{item.BlindTypeDesc}}</option>
          </select>
      </div>
      <div *ngIf="OrderTypeVal=='3'" class="form-group">
          <label for="transport">Transport</label>
          <select class="form-control" name="transport" [(ngModel)]="newOrder.Transport" id="transport">
              <option selected>Sea</option>
              <option >Air</option>
          
          </select>
      </div>
            <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" [(ngModel)]="newOrder.Company" name="company" id="company" placeholder="Company">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                  <div class="form-group">
                        <label for="reference">Reference</label>
                        <input type="text" class="form-control" [(ngModel)]="newOrder.Reference" name="reference" id="reference" placeholder="Reference">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div> 
                      <div class="form-check">
                          <label class="form-check-label"  style="color:red;">
                              <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                            I confirm that this is the OPENING size for this order
                            </label>
                          </div>   
                      <div class="form-group">
                      <button  (click)="ProceedData()" class="btn btn-primary">Proceed</button>
                    </div> 
                   
    </form>
</div>
</div>