@charset "UTF-8";
/* CSS Document */
*{
    *zoom:1;	
}
body{
    margin:0;
    padding:0;
    background-color:#aaa;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666;
}
img{
    border-style:none;	
}
a{
    color:#00bcc7;
    text-decoration:none;	
}
a:hover{
    text-decoration:underline;
}
#wrapper{
    position:relative;
    margin:10px auto;
    width:900px;
    padding:30px;
    min-height:500px;
    background-color:#f9f9f9;
    border:2px solid #777;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow:auto;
    *overflow:visible;
}

#logo{
    width:900px;
}
#nav{
    width:900px;
    padding:0;
    margin:0;
    margin-top:30px;
    margin-bottom:20px;
    display:inline-block;
    *display:inline;
    list-style:none;
}
#nav li{
    margin-left:30px;
    margin-right:30px;
    display:inline-block;
    *display:inline;
}
#nav li a{
    color:#535353;
    font-weight: bold;
    text-decoration:none;
}
#nav li a:hover{
    color:#00bcc7;
    font-weight:bold;
}
.box{
    float:left;
    min-height:20px;
    background-color:#ffffff;
    border:2px solid #e6e6e6;
    padding:5px;
    margin-bottom:20px;
}
.box_right{
    float:right;
    min-height:20px;
    background-color:#ffffff;
    border:2px solid #e6e6e6;
    padding:5px;
    margin-bottom:20px;
}

.third{
    width:263px;
}

.quarter{
    width: 199px;
}

.margin15{
    margin-right: 15px;
}

.margin34{
    margin-right:34px;	
}

.margin_product{
    /*margin-right:26px;*/
    /*margin-right:3.11%;*/
    margin-right:3%;
}
h3{
    margin-top:5px;
    margin-bottom:5px;	
}
.orange_link, .order_btn{
    display:inline-block;
    height:25px;
    line-height:25px;
    background-color:#00bcc7;
    vertical-align:middle;
    color:#ffffff;
    text-align:center;
    text-decoration:none;	
    width:100%;
}
.full_width{
    width:887px;
}
.half{
    width:423px;
}
.page_heading{
    background-image:url(../images/heading_bg.png);
    background-repeat:repeat-x;
    background-position:50% 50%;
    height:18px;
    line-height:18px;
    float:left;
    width:100%;
    text-align:center;
    margin-bottom:20px;
}
.half_page_heading{
    background-image:url(../images/heading_bg.png);
    background-repeat:repeat-x;
    background-position:50% 50%;
    height:18px;
    line-height:18px;
    float:left;
    width:415px;
    text-align:left;
    margin-bottom:20px;
    padding-left:10px;
}
.page_heading span, .half_page_heading span{
    margin:0;
    font-size:18px;
    padding:0 5px 0 5px;
    background-color:#f9f9f9;
    width: inherit !important;
}
.product{
    width:158px;
    float:left;
    margin-bottom:20px;
}
.product_image{
    width:145px;
    height:141px;
    text-align:center;
    float:left;
    background-color:#ffffff;
    border:2px solid #e6e6e6;
    padding:5px;
}

.product_image img{
    width:145px;
    height:141px;
}
.product h4{
    float:left;
    margin-top:5px;
    font-size:11px;
    font-weight:normal;
}
.order_price{
    font-size:16px !important;
    float:left;
    margin-left:20px;
}
.price{
    color:#2fbac8;
    font-size:18px;
}
.order_btn{
    margin-top:-7px;
    float:right;
    width:70px;
}
.product_price{
    clear:both;	
}
.clear{
    clear:both;	
}

hr{
    clear:both;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #cacaca;
    border-left:none;
    border-right:none;	
}
.footer{
    margin-top:10px;
    text-align:center;	
}
.footer a{
    color:#535353;
    text-decoration:underline;
}
.footer a:hover{
    color:#535353;
    text-decoration:underline;
}
.green{
    background-image:url(../images/green.jpg);
    background-repeat: no-repeat;
    height:113px;
}
.bass{
    background-image:url(../images/bass_shutters.jpg);
    background-repeat: no-repeat;
    background-position:-200px;
    height:113px;
}
.cedar{
    background-image:url(../images/cedar_shutters.jpg);
    background-repeat: no-repeat;
    background-position:-100px;
    height:113px;
}
.specs{
    background-image:url(../images/shutter_specs.jpg);
    background-repeat: no-repeat;
    height:113px;
}
.green p{
    float:right;
    width:46%;
}
.bass p, .cedar p, .specs p{
    float:right;
    margin-top:0px;
}
.bass p{
    width:71%;
}
.cedar p{
    margin-top:5px;
    width:60%;
}
.specs p{
    width:49%;
}
.bass p strong, .cedar p strong, .specs p strong{
    font-size:14px;
    display:block;
    margin-bottom:5px;
}
.bass p .orange_link, .cedar p .orange_link, .specs p .orange_link{
    margin-top:5px;
}
#contact_form input{
    width:250px;	
}
#contact_form select{
    width:256px;	
}
#contact_form textarea{
    width:250px;
    height:70px;
}
#contact_form table, .notes{
    width:400px;
}
.notes{
    margin-left:20px;	
}
#contact_form table tr td{
    text-align:right;
}
.form_heading{
    margin-top:5px;
    background-image:url(../images/form_heading.jpg);
    background-repeat: no-repeat;
    background-position:50% 70%;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    font-size:14px;
    height:30px;
}
.blind_number{
    margin-top:5px;
    background-image:url(../images/form_heading.jpg);
    background-repeat: no-repeat;
    background-position:80px 70%;
    text-align:right;
    font-weight:bold;
    font-size:14px;
    height:30px;
}
.form_divider{
    background-image:url(../images/form_heading.jpg);
    background-repeat: no-repeat;
    background-position:50% 50%;
    text-align:center;
    height:5px;
    margin:15px 0 15px 0;
    clear:both;
}
#calculate, #add, #order_now{
    cursor:pointer;
}
#order_now{
    width:auto !important;
    float:right;
    margin-bottom:10px;
    margin-right:23px;
}
.measure{
    display:block;
    width:402px;
    background-image:url(../images/pdf.png);
    background-repeat:no-repeat;
    text-align:center;
    padding:17px 0 10px 0;
    color:#FFF;
    text-decoration:none;
    margin: 5px 0 10px 0;
}
.blind{
    margin-bottom:10px;	
}
.invalidFormItem{
    border:2px solid #00bcc7;
}
.thumb{
    margin-right:16px;
    width:80px;
    text-align:center;
}
.thumb span{
    display:block;
    margin-top:5px;
    white-space: nowrap;
    font-size: 10px;
}
.thumb a img{
    width:80px;	
}
#preview{
    position:absolute;
    border:2px solid #e6e6e6;
    background:#fff;
    display:none;
    text-align:center;
    padding:5px;
    color:#535353;
}/*
#preview span{
	display:block;
	clear:both;	
}*/
#preview .page_heading{
    display:block;
    /*width:250px;*/
    clear:both;
    margin-bottom:5px;
}
#preview .page_heading span{
    background-color:#FFF;
}
.secure{
    background-image:url(../images/lock.png);
    background-repeat:no-repeat;
    background-position:0% 100%;
}
.error{
    background-color:#ffe4e4;
    background-image:url(../images/alert.png);
    background-repeat:no-repeat;
    background-position:10px 5px;
}
.error p, .success p{
    margin-left:100px;
}
.success{
    background-color:#e4ffe7;
    background-image:url(../images/success.png);
    background-repeat:no-repeat;
    background-position:10px 5px;
}

#phone_number{
    position: absolute;
    right: 20px;
    top: 52px;
    font-size: 26px;
}

#secure_payments{
    position: absolute;
    right: 20px;
    top: 90px;
}

/** 
 * Spacing classes 
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions! 
 * <type><location><size>
 *
 * spacing helpers
 * p,m = padding,margin
 * a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 * s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:20px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}  
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:20px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:20px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}  
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:20px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}
