<h3>
    Welcome to ELITE BLINDS & SHUTTERS
</h3>
<div class="row" *ngIf="!ViewDetailsBool" style="height:33em;overflow-y:scroll;">
    <h5>Order Information</h5>
    <table  class="table table-responsive table-condensed table-striped table-hover">
            <thead>
                <tr class="table-info">
                    <th>Order Number</th>
                    <th>Order Status</th>
                    <th>Order Date</th>
                    <th>No.of Blinds</th>
                    <th>Company</th>
                    <th>Reference</th>
                    <th>Consign Note No.</th>
                    <th>Complete Date</th>
                    <th>Delivery Date</th>
                    <th>Departure Date</th>
                    <th>Arrival Date</th>
                    <th>Order M2</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody *ngIf="OrderInfoList">
                    <tr *ngFor="let OrderInfo of OrderInfoList">
                        <td>{{OrderInfo.OrderID}}</td>
                        <td>{{OrderInfo.OrderStatus}}</td>
                        <td>{{OrderInfo.OrderDate}}</td>
                        <td>{{OrderInfo.NumbOfBlinds}}</td>
                        <td>{{OrderInfo.Company}}</td>
                        <td>{{OrderInfo.Reference}}</td>
                        <td>{{OrderInfo.ConsignNoteNum}}</td>
                        <td>{{OrderInfo.CompleteDate}}</td>
                        <td>{{OrderInfo.DeliveryDate}}</td>
                        <td>{{OrderInfo.DepartureDate}}</td>
                        <td>{{OrderInfo.ArrivalDate}}</td>
                        <td>{{OrderInfo.OrderM2}}</td>
                        <td><a (click)="ViewDetails(OrderInfo.OrderID)">View</a></td>
                    </tr>
            </tbody>
    </table>
</div>
<div class="row" *ngIf="ViewDetailsBool">
    <button (click)="ReturnToAllOrders()">Back to Orders</button>
    <order-list [orderPlaced]="false" [orderDetails]="OrderDetails" [orderInitiate]="OrderItem"></order-list>
</div>