/* Browser reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

hr {
	border: 0;
	border-top: 1px solid #333;
	height: 0;
	margin-bottom: 20px;
}

em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: bold;
}

/* General */
html, body {
	min-height: 100%;
	width: 100%;
}

ul {
	list-style: inside square;
}

h1, h2, h3, p, ul {
	margin: 0 0 20px;
}


.left {
	float: left;
	padding-right: 40px;
	min-width: 90px;
}

.clear {
	clear: both;
}

.backslider_option {
	list-style: inside disc;
}

.backslider_option .active {
	list-style-type: circle;
}

.backslider_option .active a {
	font-weight: bold;
}

.hint {
	position: fixed;
	right: 30px;
	bottom: 40px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 2%;
	width: 60%;
	background: #222;
	background: rgba(0,0,0,0.7);
	z-index: 1;
}

